#taskbar, #taskbar-bg {
    height: 80px;
    width: 100%;
    transform: translateY(-80px);
}

#taskbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    z-index: 10;
    background-color: rgba(40, 127, 9, 0.71);
    color: #fff;
    transition: margin-top .5s;
}

#taskbar-bg {
    position: absolute;
    z-index: -10;
    background-color: rgba(40, 127, 9, 1);
}

#taskbar #name {
    font-size: 20px;
    letter-spacing: 0.35em;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    margin-left: 190px;
    margin-right: auto;
}

#taskbar #links {
    margin-right: 190px;
}

#taskbar #links a {
    text-decoration: none;
    transition: color .25s;
    color: #D4DBCE;
    height: 50px;
    padding: 0 10px;
}

#taskbar #links a:hover {
    color: #fff;
}

#main-1 {
    width: 100%;
    height: 100%;
    margin-top: 80px;
    background: linear-gradient(rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0.75)), center / cover no-repeat url(/files/images/background-index.webp);
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-1 #box-1 {
    display: flex;
    align-items: center;
    width: 597px;
    height: 153px;
    padding: 30px 50px;
    background-color: rgb(0, 0, 0, .75);
    border-radius: 16px;
    transform: scale(0.75);
    opacity: 0;
    transition: transform .5s;
    animation: enlarge .75s;
    animation-fill-mode: forwards;
}

@keyframes enlarge {
    from {
        transform: scale(0.75);
        opacity: 0;
    } to {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
}

#main-1 #box-1 #box-1-text-container {
    text-align: center;
    letter-spacing: 0.08em;
    color: #b3b3b3;
    font-weight: bold;
    font-size: 50px;
}

#box-1-text-container-th {
    color: #fff;
    animation: white-to-green .75s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

@keyframes white-to-green {
    from {
        color: #fff;
    } to {
        color: #2d9007;
    }
}
