:root {
    --vertical-rect-animation: none;
    --rect-animation-fill-mode: none;
    --vertical-rect-animation-delay: 0s;
    --horizontal-rect-animation: none;
    --horizontal-rect-animation-delay: 0s;
}

body {
    position: absolute;
}

html {
    height: auto;
}

#loading {
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background: transparent;
    z-index: 10;
    transition: opacity .35s;
}

#sjc-150-logo-loading {
    width: 100px;
    aspect-ratio: 1;
    margin-top: 20px;
    transition: opacity .35s, margin-top .35s;
    opacity: 0;
}

#loading-cross-container {
    position: absolute;
    transform: translateY(70px);
}

#loading-cross {
    width: 20px;
    aspect-ratio: 1;
    margin-top: 20px;
    transition: opacity .35s, margin-top .35s, transform 4s cubic-bezier(.35,-0.01,.69,.74);
    opacity: 0;
}

.main-1 {
    width: 100%;
    height: 100vh;
    margin-top: 80px;
    background: center / cover no-repeat url(/files/images/background-index.webp);
    display: flex;
    justify-content: left;
    flex-flow: row wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

#main-1-content {
    display: flex;
    align-items: center;
    background: rgb(255,255,255);
    background-color: #fff;
    filter: drop-shadow(20px 0px 10px #fff);
    width: 40%;
    transform: translateX(-50px);
    opacity: 0;
    transition: transform .5s, opacity .5s;
}

#filter {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .65;
    z-index: 1;
    position: absolute;
    transition: opacity .35s;
}

#text {
    letter-spacing: 0.08em;
    color: #000;
    font-weight: bold;
    font-size: 30px;
    margin-left: 65px;
}

#text #p1, #text #p2 {
    transform: translateY(30px);
    opacity: 0;
    transition: transform .35s, opacity .35s;
    display: inline-block;
}

.main-1 #box-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 597px;
    height: 153px;
    padding: 30px 50px;
    background-color: rgb(0, 0, 0, .75);
    border-radius: 16px;
    transform: scale(0.75) translateZ(0);
    opacity: 0;
    transition: transform .5s;
}

@media (max-width: 400px) {
    #main-2-text {
        width: 240px;
    }

    #main-2-title {
        font-size: 7vw !important;
        font-weight: bold;
    }

    #sjc-150-logo {
        transform: translateY(-30px);
    }
}

@media (max-width: 480px) {
    .main-1 #box-1 {
        width: 60%;
    }

    .main-1 #box-1-text-container {
        font-size: 9vw !important;
    }

    body {
        overflow-x: hidden;
    }

    #main-2-image {
        width: 40vh;
    }
}

@keyframes enlarge {
    from {
        transform: scale(0.75);
        opacity: 0;
    } to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes enlarge-2 {
    from {
        transform: scale(0.75);
        opacity: 0;
    } to {
        transform: scale(1);
        opacity: 1;
    }
}

.main-1 #box-1 #box-1-text-container {
    text-align: center;
    letter-spacing: 0.08em;
    color: #b3b3b3;
    font-weight: bold;
    font-size: 50px;
}

#box-1-text-container-th {
    transition: background-image .35s, color .35s;
    background-image: url("/files/images/black.png");
    color: #000;
    background-position: center;
    background-size: cover;
    backface-visibility: hidden;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
}

@keyframes black-to-green {
    from {
        color: #000;
        background-image: url("/files/images/black.png");
    } to {
        color: #2d9007;
        background-image: url("/files/images/green.png");
    }
}

.main-2 {
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: flex-end;
    align-items: center;
    flex-flow: row wrap;
    background-color: #202020;
    position: relative;
    z-index: 1;
}

#main-2-left {
    display: flex;
    align-items: flex-start;
}

#main-2-text-container {
    margin-right: auto;
    padding: 25px 50px;
    color: #fff;
    flex-flow: column;
}

#main-2-title {
    font-size: 40px;
    letter-spacing: 0.08em;
    opacity: 0;
    transform: translateY(25px);
}

#main-2-title.main-2-scrolled {
    animation: fadein-up-title .5s;
    animation-fill-mode: forwards;
}

#main-2-text {
    display: block; 
    max-width: 340px; 
    line-height: 1.8em;
    opacity: 0; 
    transform: translateY(15px);
}

#main-2-text.main-2-scrolled {
    animation: fadein-up .5s;
    animation-fill-mode: forwards; 
    animation-delay: .25s;
}

@keyframes fadein-up-title {
    from {
        opacity: 0;
        transform: translateY(25px);
    } to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadein-up {
    from {
        opacity: 0;
        transform: translateY(15px);
    } to {
        opacity: 1;
        transform: translateY(0);
    }
}

#arrow-container {
    margin-left: auto;
    height: 15px;
    width: 15px;
}

#vertical-rect {
    border-right: #202020 2.5px solid;
    height: 15px;
    
}

#vertical-rect::after {
    content: "";
    position: absolute;
    border-right: #fff 2.5px solid;
    height: 15px;
    transform: translate(13px, -20px);
    animation: var(--vertical-rect-animation);
    animation-fill-mode: var(--rect-animation-fill-mode);
    animation-delay: var(--vertical-rect-animation-delay);
}

#vertical-rect::before {
    content: "";
    position: absolute;
    border-right: #202020 5px solid;
    height: 20px;
    transform: translate(12px, -20px);
    z-index: 1;
}

@keyframes expand-vertical-rect {
    from {
        transform: translate(13px, -20px);
    } to {
        transform: translate(13px, 0);
    }
}

#horizontal-rect {
    border-bottom: #202020 2.5px solid;
    width: 15px;
    margin-left: auto;
}

#horizontal-rect::after {
    content: "";
    position: absolute;
    border-bottom: #fff 2.5px solid;
    width: 15px;
    height: 2.5px;
    transform: translate(20px, -3.3px);
    animation: var(--horizontal-rect-animation);
    animation-fill-mode: var(--rect-animation-fill-mode);
    animation-delay: var(--horizontal-rect-animation-delay);
}

#horizontal-rect::before {
    content: "";
    position: absolute;
    border-bottom: #202020 5px solid;
    width: 25px;
    transform: translate(15.5px, -2px);
    z-index: 1;
}

@keyframes expand-horizontal-rect {
    from {
        transform: translate(20px, -3.3px);
    } to {
        transform: translate(1px, -3.3px);
    }
}

#main-2-right {
    width: 50%;
    height: 100%;
}

@media (max-width: 1164.6px) {
    #main-2-right {
        width: 100%;
        height: 50%;
    }

    #main-2-image-container {
        padding: 0;   
    }

    #main-2-left {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        height: 50%;
    }

    .main-2 {
        justify-content: center;
    }

    #main-2-image.main-2-scrolled {
        animation: 1.25s slide-up .5s forwards !important;
        transform: translateY(50px);
        opacity: 0;
    }

    #main-2-image {
        max-width: 300px;
    }
}

#main-2-image-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #323232;
}

#main-2-image {
    max-width: 40vh;
    aspect-ratio: 1;
    opacity: 0;
}

#main-2-image.main-2-scrolled {
    animation: slide-left .5s;
    animation-fill-mode: forwards; 
    animation-delay: 1.25s;
    transform: translateX(50px);
    opacity: 0;
}

@keyframes slide-left {
    from {
        transform: translateX(50px);
        opacity: 0;
    } to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-up {
    from {
        transform: translateY(50px);
        opacity: 0;
    } to {
        transform: translateY(0);
        opacity: 1;
    }
}
