body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Object Sans", "Cabin", sans-serif;
    scroll-behavior: smooth;
}

body {
    overflow: overlay;
}

p {
    font-family: "Cabin", sans-serif;
}


::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background-color: #0000006f;
    transition: background-color .25s;
}

::-webkit-scrollbar-thumb:hover {
    background: #000000a3;
}

::selection {
    background: #b1b1b199 !important; 
    background-color: #b1b1b199 !important; 
    color: #000 !important;
}
p::-moz-selection {
    background: #b1b1b199 !important; 
    background-color: 000#b1b1b199 !important;
    color: #000 !important;
}
p::selection { 
    background: #b1b1b199 !important; 
    background-color: #b1b1b199 !important;
    color: #000 !important;
}
::-moz-selection {
    background: #b1b1b199 !important; 
    background-color: #b1b1b199 !important;
    color: #000 !important;
}

@media (pointer: none), (pointer: coarse) {
    #navbar #links:hover > a {
        color: #000;
    }

    #navbar #links a::after {
        display: none;
    }
}

.title {
    font-family: "Zilla Slab", "Object Sans", "Cabin", sans-serif;
}

#navbar, #navbar-bg {
    height: 80px;
    width: 100%;
    transform: translateY(-80px);
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.71);
    color: #fff;
    transition: margin-top .5s;
}

#navbar-bg {
    position: absolute;
    z-index: -10;
    background-color: rgb(255, 255, 255);
}

#navbar #logo {
    font-size: 20px;
    letter-spacing: 0.35em;
    font-weight: bold;
    text-decoration: none;
    margin-left: 3%;
    margin-right: auto;
    opacity: .5;
    transition: opacity .35s;
    display: flex;
    align-items: center;
}

#navbar #logo:hover {
    opacity: 1;
}

#navbar #links {
    margin-right: 3%;
}

#navbar #links a {
    position: relative;
    text-decoration: none;
    transition: color .25s;
    color: #000;
    height: 50px;
    padding: 0 10px;
}

#navbar #links:hover > a {
    color: #a8a8a8;
}

#navbar #links a:hover {
    color: #000 !important;
}

#navbar #links a::after {
    content: "";
    position: absolute;
    left: 10px;
    bottom: 0;
    color: #000;
    width: 0;
    border-bottom: #000 1.5px solid;
    transform: translateY(2px);
    transition: width .35s;
}

#navbar #links a:hover::after {
    width: calc(100% - 20px);
}
