body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Object Sans", "Cabin", sans-serif;
}

body {
    overflow: overlay;
}

p {
    font-family: "Cabin", "Object Sans", sans-serif;
}


::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #202020;
}

::-webkit-scrollbar-thumb {
    background-color: #ffffff6f;
    transition: background-color .25s;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffffa3;
}

::selection {
    background: #b1b1b199 !important; 
    background-color: #b1b1b199 !important; 
    color: #ffffff !important;
}
p::-moz-selection {
    background: #b1b1b199 !important; 
    background-color: #b1b1b199 !important;
    color: #ffffff !important;
}
p::selection { 
    background: #b1b1b199 !important; 
    background-color: #b1b1b199 !important;
    color: #ffffff !important;
}
::-moz-selection {
    background: #b1b1b199 !important; 
    background-color: #b1b1b199 !important;
    color: #ffffff !important;
}

#navbar, #navbar-bg {
    height: 80px;
    width: 100%;
    transform: translateY(-80px);
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    z-index: 10;
    background-color: rgba(32, 32, 32, 0.71);
    color: #fff;
    transition: margin-top .5s;
}

#navbar-bg {
    position: absolute;
    z-index: -10;
    background-color: rgb(32, 32, 32);
}

#navbar #logo {
    font-size: 20px;
    letter-spacing: 0.35em;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    margin-left: 10%;
    margin-right: auto;
    opacity: .5;
    transition: opacity .35s;
}

#navbar #logo:hover {
    opacity: 1;
}

#navbar #links {
    margin-right: 10%;
}

#navbar #links a {
    position: relative;
    text-decoration: none;
    transition: color .25s;
    color: #fff;
    height: 50px;
    padding: 0 10px;
}

#navbar #links:hover > a {
    color: #868686;
}

#navbar #links a:hover {
    color: #fff !important;
}

#navbar #links a::after {
    content: "";
    position: absolute;
    left: 10px;
    bottom: 0;
    color: #fff;
    width: 0;
    border-bottom: #fff 1.5px solid;
    transform: translateY(2px);
    transition: width .35s;
}

#navbar #links a:hover::after {
    width: calc(100% - 20px);
}
