#navbar, #navbar-bg {
    transform: translateY(-80px);
}

#navbar-bg {
    transform: translateY(0);
    z-index: 1;
    position: static;
}

body {
    background: linear-gradient(rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)), center / cover no-repeat fixed url(/files/images/background-timeline.webp);
}

#body {
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    flex-flow: column;
}

@media (max-width: 480px) {
    #background-img {
        background: center / cover no-repeat url(/files/images/background-timeline.webp);
    }
}

#main {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
}

@keyframes enlarge {
    from {
        scale: .75;
        opacity: 0;
    } to {
        scale: 1;
        opacity: 1;
    }
}

@keyframes move-up {
    from {
        margin-top: 0;
        opacity: 1;
    } to {
        margin-top: -150px;
        opacity: 1;
    }
}

#sjc-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 40px));
    transform-origin: left top;
    padding: 10px;
    margin: 0;
    opacity: 0;
}

#sjc-img img {
    width: 150px;
    aspect-ratio: 1;
}
